body, h1, h2, h3, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "M PLUS 1p";
  background: #e3a4fd;
  color: #797979;
}

header {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  border-bottom: solid 5px #b68ac7;
}

header h1 {
  text-align: center;
  font-size: 2.2rem;
}

header h1::first-letter {
  color: #b68ac7;
  font-size: 2.8rem;
}

header .category-area {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

header .category-area .category {
  margin: auto;
  padding-bottom: 2px;
  border-bottom: solid 2px;
}

#wrap {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
}

#wrap .tags {
  padding: 1rem;
  color: #fff;
}

#wrap .tags h2 {
  font-size: 1.8rem;
}

#wrap .tags h2::first-letter {
  font-size: 2rem;
}

#wrap .tags .taglink-area {
  display: flex;
}

#wrap .tags .taglink-area .taglink {
  margin-right: 10px;
  font-size: 1.2rem;
}

#wrap .tags .taglink-area .taglink::before {
  content: "\0023";
  font-size: 1.5rem;
  font-weight: bold;
  color: #aa6dc3;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.posts .post {
  width: 44%;
  margin: 1rem auto 0;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
}

.posts .post .post-data {
  display: flex;
  justify-content: space-between;
}

.posts .post .post-data .update {
  font-size: 0.8rem;
}

.posts .post .post-data .category {
  color: #8f81d8;
  font-weight: bold;
}

.posts .post h2 {
  font-size: 2rem;
  color: #b68ac7;
  font-weight: normal;
}

.posts .post h2 img {
  width: 2.2rem;
  vertical-align: middle;
  margin-right: 4px;
}

.posts .post .tags {
  display: flex;
  padding: 0 !important;
  color: #797979 !important;
}

.posts .post .tags .taglink {
  margin-right: 4px;
}

.posts .post .tags .taglink::before {
  content: "\0023";
  font-size: 1.2rem;
  font-weight: bold;
  color: #aa6dc3;
}
