@charset 'utf-8';

body,h1,h2,h3,ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  font-family: "M PLUS 1p";
  background: #e3a4fd;
  color: #797979;
}
header{
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  border-bottom: solid 5px #b68ac7;
  h1{
    font-size: 2.2rem;
    text-align: center;
    a{
      text-decoration: none;
      &:link,
      &:hover,
      &:visited,
      &:active{
        color: #fff;
      }
    }
    &::first-letter{
      color: #b68ac7;
      font-size: 2.8rem;
    }
  }
  .category-area{
    display: flex;
    justify-content: center;
    .category{
      margin: auto;
      padding-bottom: 2px;
      font-size: 1.2rem;
      border-bottom: solid 2px;
      @media screen and (max-width: 768px){
        font-size: 1rem;
      }
      a{
        text-decoration: none;
        &:link,
        &:hover,
        &:visited,
        &:active{
          color: #fff;
        }
      }
    }
  }
}

#wrap{
  width: 96%;
  max-width: 1280px;
  margin: auto;
  .tags{
    margin: 1rem 0;
    color: #fff;
    h2{
      font-size: 1.8rem;
      @media screen and (max-width: 768px){
        font-size: 1.2rem;
      }
      &::first-letter{
        font-size: 2rem;
        @media screen and (max-width: 768px){
          font-size: 1.5rem;
        }
      }
    }
    .taglink-area{
      display: flex;
      flex-wrap: wrap;
      .taglink{
        margin-right: 10px;
        font-size: 1.2rem;
        @media screen and (max-width: 768px){
          font-size: 1rem;
        }
        &::before{
          content: "\0023";
          font-size: 1.5rem;
          font-weight: bold;
          color: #aa6dc3;
          @media screen and (max-width: 768px){
            font-size: 1.2rem;
          }
        }
        a{
          display: inline-block;
          text-decoration: none;
          &:link,
          &:hover,
          &:visited,
          &:active{
            color: #fff;
          }
        }
      }
    }
  }
}

.posts{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  opacity: 1;
  transition: opacity 300ms ease 0ms;
  .post{
    display: block;
    width: 45%;
    margin: 0 0 1rem;
    padding: 1rem 2% 0;
    background: #fff;
    border-radius: 10px;
    @media screen and (max-width: 768px){
      width: 100%;
    }
    a{
      display: block;
      text-decoration: none;
      &:link,
      &:hover,
      &:visited,
      &:active{
        color: #797979;
      }
    }
    .post-data{
      display: flex;
      justify-content: space-between;
      .update{
        font-size: 0.8rem;
      }
      .category{
        a{
          font-weight: bold;
          text-decoration: none;
          &:link,
          &:hover,
          &:visited,
          &:active{
            color: #8f81d8;
          }
            }
      }
    }
    h2{
      font-size: 2rem;
      color: #b68ac7;
      font-weight: normal;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @media screen and (max-width: 768px){
        font-size: 1.8rem;
      }
      &::before{
        content: '';
        display: inline-block;
        width: 2.2rem;
        height: 2.2rem;
        background-image: url(../img/icon.jpeg);
        background-size: contain;
        vertical-align: middle;
        margin-right: 4px;
      }
    }
    .tags{
      display: flex;
      padding: 0 !important;
      color: #797979 !important;
      .taglink{
        margin-right: 4px;
        &::before{
          content: "\0023";
          font-size: 1.2rem;
          font-weight: bold;
          color: #aa6dc3;
        }
        a{
          display: inline-block;
          text-decoration: none;
          a:link,
          a:hover,
          a:visited,
          a:active{
            color: #797979 !important;
          }
        }
      }
    }
    .contents{
      width: 100%;
      margin: 1rem 0;
    }
  }
}

.post-detail{
  position: absolute;
  width: 90%;
  max-width: 1280px;
  height: auto;
  min-height: 50vh;
  margin: 0 0 2rem;
  padding: 1rem 3%;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  z-index: -100;
  .back{
    display: none;
  }
  h2{
    &::before{
      display: none;
    }
  }
}

.post-detail.show-detail{
  .back{
    display: inline-block !important;
    font-size: 1.5rem;
    text-decoration: none;
    &:link,
    &:hover,
    &:visited,
    &:active{
      color: #797979;
    }
    .back-first{
      color: #b68ac7;
      font-size: 1.8rem;
    }
  }
  .post-data{
    display: flex;
    justify-content: space-between;
    .update{
      font-size: 0.8rem;
    }
    .category{
      a{
        font-weight: bold;
        text-decoration: none;
        &:link,
        &:hover,
        &:visited,
        &:active{
          color: #8f81d8;
        }
      }
    }
  }
  h2{
    font-size: 2rem;
    color: #b68ac7;
    font-weight: normal;
    @media screen and (max-width: 768px){
      font-size: 1.8rem;
    }
    &::before{
      content: '';
      display: inline-block !important;
      width: 2.2rem;
      height: 2.2rem;
      background-image: url(../img/icon.jpeg);
      background-size: contain;
      vertical-align: middle;
      margin-right: 4px;
    }
  }
  .tags{
    display: flex;
    padding: 0 !important;
    color: #797979 !important;
    .taglink{
      margin-right: 4px;
      &::before{
        content: "\0023";
        font-size: 1.2rem;
        font-weight: bold;
        color: #aa6dc3;
      }
      a{
        display: inline-block;
        text-decoration: none;
        &:link,
        &:hover,
        &:visited,
        &:active{
          color: #797979 !important;
        }
      }
    }
  }
  .contents{
    width: 100%;
    margin: 1rem 0;
  }
}
  
.hide-overray{
  display: none;
}
.show-overray{
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 50;
}

.fadeout {
  opacity: 0 !important;
  -moz-animation: fadeout 300ms ease 0ms;
  -webkit-animation: fadeout 300ms ease 0ms;
  -o-animation: fadeout 300ms ease 0ms;
  -ms-animation: fadeout 300ms ease 0ms;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.show-detail{
  opacity: 1 !important;
  z-index: 100 !important;
  transition: opacity 300ms ease 0ms;
}
